*
{
    margin:0px;
    padding:0px;
}
h1
{
    font-size:small;
    word-spacing: 5px;
    color:grey;
}
h2
{
    font-size:5em;
    color: black;
}
p
{
   font:2.5em;
   color:grey;
}
button
{
    width:80%;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
}